# Ignore all .terraform directories and any file or directory that starts with .terraform
.terraform
.terraform*
**/.terraform*

# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore Terraform plan files
*.tfplan

#zip
*.zip
**/*.zip
.vscode
.vscode*
**/.vscode*
